body {
  padding: 0;
  margin: 0;

  --colour-nav: #52b8f3;
  --colour-background: #c8e0ee;
  --colour-x: #5700c1;
  --colour-o: #ff0040;
  --colour-board-background: #ffffff;
  --colour-winner: #24ff71;

  background-color: var(--colour-background);
  box-sizing: content-box;
}

nav {
  background-color: var(--colour-nav);
  padding: 0.5em;
  height: 3em;
  display: flex;
  text-align: center;
  align-items: center;
}

nav > a {
  text-decoration: none;
  color: var(--colour-x);
  font-size: 1.5em;
  border: 0.25rem solid var(--colour-x);
  padding: 0.5em;
}

nav > a:hover {
  color: var(--colour-o);
  border: 0.25rem solid var(--colour-o);
}

.large {
  font-size: 2em;
}

.center {
  display: flex;
  flex-direction: column;
}

.center > .header {
  margin-top: 3em;
  margin-bottom: 1em;
  margin-inline: auto;
  font-size: 1.5em;
}

.game-grid {
  margin-inline: auto;
  display: grid;
  grid-template-areas:
    "a b c"
    "d e f"
    "h i j";

  width: calc(10em * 3);
  aspect-ratio: 1;
  background: var(--colour-board-background);
}

.game-grid > div {
  box-sizing: border-box;
  border: 0.25em solid black;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 10em;
  aspect-ratio: 1;
}

.game-grid > div > p {
  font-size: 8em;
  margin-top: auto;
  margin-bottom: auto;
  pointer-events: none;
}

.colour-x {
  color: var(--colour-x);
}

.colour-o {
  color: var(--colour-o);
}

.background-winner {
  background: var(--colour-winner);
}
