body {
  --primary-color: #00f0ff;
  --background-color: #0f173c;
  --background-color-60: #0f173c90;
  --background-color-90: #0f173ce6;
  --default-text-color: #ffffff;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  color: var(--default-text-color);
  background: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 4em;
}

nav > :first-child {
  padding-left: 2em;
}

nav > :last-child {
  padding-right: 2em;
}

nav > a,
nav > * > a {
  font-size: 1.25em;
  margin: 0.5em;
  margin-top: auto;
  margin-bottom: auto;
}

nav > .right {
  margin-left: auto;
  margin-top: auto;
  margin-bottom: auto;
}

.hero {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(
      var(--background-color-60),
      var(--background-color-90)
    ),
    url("images/neon.webp");

  /* Set a specific height */
  height: 48em;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  object-fit: cover;
  display: flex;
}

.hero-text {
  color: var(--default-text-color);
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 4em;
  margin-right: 4em;
}

.hero-outline {
  color: var(--default-text-color);
  margin-top: auto;
  margin-bottom: auto;
}

.hero-outline > div {
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;
}

.hero-outline > div > a {
  color: var(--default-text-color);
  position: relative;
  text-decoration: none;
  margin-bottom: 1em;
}

.hero-outline > div > a::after {
  content: "";
  display: block;
  height: 2px;
  background: linear-gradient(to right, #3498db, #9b59b6);
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  transition: width 0.3s;
  z-index: 1;
}

.section {
}

.section > h1 {
}
